---
title: LonnyGomes.com
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Work+Sans:300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
        <title>{{ title }}</title>
    </head>
    <body>  
        <div class="base-container">
            <div class="header-container">
                {% include "header.njk" %}
            </div>
            <div class="main-container">
                <main>
                    {{ content | safe }}
                </main>
            </div>
            <div class="footer-container">
                {% include "footer.njk" %}
            </div>
        </div>
    </body>
</html>
