---
title: LonnyGomes.com
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15130044-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-15130044-1');
        </script>
        <meta charset="utf-8" />
        <meta name="title" content="{{ title }}">
        <meta name="description" content="The official personal site of Lonny Gomes">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.lonnygomes.com">
        <meta property="og:title" content="LonnyGomes.com">
        <meta property="og:description" content="The official personal site of Lonny Gomes">
        <meta property="og:image" content="https://raw.githubusercontent.com/LonnyGomes/lonnygomes.com/master/working_files/images/website-screenshot.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.lonnygomes.com">
        <meta property="twitter:title" content="LonnyGomes.com">
        <meta property="twitter:description" content="The official personal site of Lonny Gomes">
        <meta property="twitter:image" content="https://raw.githubusercontent.com/LonnyGomes/lonnygomes.com/master/working_files/images/website-screenshot.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Work+Sans:300,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
        <link href="{{ '/css/font-awesome/all.min.css' | url }}" rel="stylesheet">
        <link href="{{ '/css/prism.css' | url }}" rel="stylesheet">
        <link href="{{ '/css/prism-coy.css' | url }}" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>  
        <div class="base-container">
            <header class="header">
                <div class="header-container">
                    {% include "header.njk" %}
                </div>
                <aside id="mobile-menu-container" class="mobile-menu">
                    {% include 'menu-links.njk' %}
                </aside>
            </header>
            <main class="main-container">
                {{ content | safe }}
            </main>
            <footer class="footer-container">
                {% include "footer.njk" %}
            </footer>
        </div>
        <script>
        var menuToggle = document.getElementById('menu-toggle');
        var mobileMenu = document.getElementById('mobile-menu-container');
        menuToggle.addEventListener('click', function (evt, val2) {
            if (evt.target.checked) {
                mobileMenu.classList.add('mobile-menu-show');
            } else {
                mobileMenu.classList.remove('mobile-menu-show');
            }
        });
        </script>
    </body>
</html>
