<div class="site-header">
    <div class="header-circle">
        <a class="header-logo" href="{{ '/' | url }}">LG</a> 
    </div>
    <div class="header-links">
        {% include 'menu-links.njk' %}
    </div>
    <div class="hamburger-menu">
        <label for="menu-toggle"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="menu-toggle" class="visually-hidden">
    </div>
</div>