<div class="site-header">
    <div class="header-circle">
        <a class="header-logo" href="{{ '/' | url }}">LG</a> 
    </div>
    <div class="header-links">
        {% include 'menu-links.njk' %}
    </div>
</div>