<div class="site-header">
    <div class="header-circle">
        <a class="header-logo" href="{{ '/' | url }}">LG</a> 
    </div>
    <div class="header-links">
        <a class="header-link" href="{{ '/projects' | url }}">Projects</a> 
        <a class="header-link" href="{{ '/haiku' | url }}">Haiku</a> 
        <a class="header-link" href="{{ '/quotes' | url }}">Quotes</a> 
    </div>
</div>