---
layout: base
summary: no summary
tags:
    - project
---

<div class="project-content">
    <h1 class="project-header">{{title}}</h1>
    <div class="project-header-row">
        <p class="project-date"><i class="far fa-calendar"></i> {{ page.date | hugeDate }}</p>
        {% tweet page.url %}
    </div>
    <p class="project-date"><i class="far fa-clock"></i> Read time of {% readTime content %}</p>
    {{ content | safe }}
    <hr>

    <div class="project-tag-group">
    {% set tagGroup = tags %}
    {% include 'tag-group.njk' %}
    </div>
</div>