---
layout: base
summary: no summary
tags:
    - project
---

<div class="project-content">
    <h1 class="project-header">{{title}}</h1>
    <p class="project-date"> {{ page.date | hugeDate }}</p>
    {{ content | safe }}
</div>