<!-- the tagGroup variable should be previously set as an array of the tag names -->
{% for tag in tagGroup %} 
    {%- if collections.tagsList.indexOf(tag) != -1 -%} 
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset  %}
        <a href="{{ tagUrl | url }}" class="tag-pill">{{ tag }}</a>
    {%- endif -%} 
{% endfor %}