:root {
    --primary-clr: #3378d3;
    --font-clr: #1d1d1d;
    --secondary-bg-clr: #fafafa;
    --header-font: 'Fjalla One', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #212020;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

body {
    padding: 0px;
    margin: 0px;
    color: var(--font-clr);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.base-container {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: var(--secondary-bg-clr);
    align-items: center;
}

.site-header {
    display: flex;
    padding: 5px 15px;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    font-family: var(--header-font);
    font-size: 1.5em;
    text-decoration: none;
    color: var(--primary-clr);
}

.header-link {
    padding: 2px 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--font-clr);
}

.header-link:hover {
    text-decoration: underline;
    color: var(--primary-clr);
}

.main-container {
    align-self: center;
    max-width: 768px;
}

.homepage-header {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.social-link {
    color: var(--font-clr);
}

.social-link:hover {
    color: var(--primary-clr);
}

.footer-container {
    display: flex;
    height: 60px;
    background-color: #ececec;
    justify-content: center;
}

.haiku-header {
    font-size: 3rem;
}

.haiku-body {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
}
