:root {
    --primary-clr: #3378d3;
    --font-clr: #1d1d1d;
    --secondary-bg-clr: #fafafa;
    --header-font: 'Fjalla One', sans-serif;
    --max-content-width: 768px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #212020;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

body {
    padding: 0px;
    margin: 0px;
    color: var(--font-clr);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.base-container {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: var(--secondary-bg-clr);
    align-items: center;
}

.site-header {
    display: flex;
    padding: 5px 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-circle {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #000;
    border-radius: 50%;
}
.header-circle:hover {
    background-color: var(--primary-clr);
}

.header-logo {
    display: inline-block;
    font-family: var(--header-font);
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    vertical-align: baseline;
    text-align: center;
    transform: translate(45%, 2%);
}

.header-link {
    padding: 2px 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--font-clr);
}

.header-link:hover {
    text-decoration: underline;
    color: var(--primary-clr);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.homepage-header {
    text-align: center;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.homepage-tagline {
    padding: 2px 20px;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.social-link {
    color: var(--font-clr);
}

.social-link:hover {
    color: var(--primary-clr);
}

.footer-container {
    display: flex;
    height: 60px;
    background-color: #ececec;
    justify-content: center;
}

.haiku-header {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.haiku-body {
    padding: 5px;
    font-size: 1.5rem;
}

.project-list {
    max-width: var(--max-content-width);
    padding: 5px 10px;
}

.project-list-title {
    display: block;
    font-size: 1.4em;
    font-weight: 400;
    padding-top: 4px;
    text-decoration: none;
    color: var(--font-clr);
}

.project-list-hr {
    border: 0.5px solid #ddd;
}

.project-list-title:hover {
    color: var(--primary-clr);
}

.project-list-date {
    font-size: 0.9rem;
    font-style: italic;
    padding: 4px 0px;
    margin: 0px;
}

.project-content {
    display: block;
    padding: 5px 10px;
    max-width: 600px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 320px;
    align-items: center;
}

.navbar a {
    font-size: 2.5em;
    color: var(--primary-clr);
}

.navbar a.inactive {
    cursor: not-allowed;
    color: #888;
}

@media screen and (max-width: 480px) {
    .haiku-body {
        font-size: 1rem;
    }
}
