---
layout: post
title: LonnyGomes.com - haikus
pagination:
    data: collections.haiku
    size: 20
    alias: haiku
---

<h1>Haikus</h1>

{% include "navbar.njk" %}

<div class="haiku-grid">
    {%- for item in haiku %}
    <!-- prettier-ignore -->
    <p class="haiku-grid-item">
        {% if loop.index == 1 %} 
            {% set curUrl = '/haiku/' %} 
        {% else %}
            <!-- we have to compute the index of the URL given the page we are on and the index of the loop -->
            {% set curUrl = '/haiku/' + ((loop.index - 1) + (pagination.pageNumber *
        pagination.size))+ '/' %} 
        {% endif %}

        <a href="{{ curUrl | url }}">{{ item.data.title }}</a>
    </p>
    {% endfor -%}
</div>
